<div class="container-fluid p-2">
  <form [formGroup]="modificationForm">
    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" style="width:9vw">Titulo</span>
      </div>
      <input class="form-control" placeholder="Titulo" aria-label="Titulo" formControlName="title">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:12.5vw" >Precio de la clase</span>
      </div>
      <!-- <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> -->
      <input class="form-control" placeholder="Precio" aria-label="Precio de la clase" formControlName="price" >
      <div class="input-group-append">
        <span class="input-group-text">€</span>
      </div>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon6" style="width:9vw">Imagen</span>
      </div>
      <input class="form-control"  aria-label="Imagen" placeholder="En formato jpg o png" formControlName="imageUrl">
    </div>
    <div>
      <mat-checkbox class="mat-checkbox" style="margin: 10px" color='primary' #c (click)="toggleExclusive(!c.checked)">Exclusive</mat-checkbox>
      <mat-checkbox class="mat-checkbox" style="margin: 10px" color='primary' #c (click)="togglePromoted(!c.checked)">Promoted</mat-checkbox>
    </div>
    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:9vw">Descripcion</span>
      </div>
      <textarea class="form-control" rows="5" aria-label="With textarea" formControlName="description"></textarea>
    </div>
  </form>
</div>
<div class="d-flex flex-row-reverse m-2 mr-1 sticky-bottom">
  <button class="btn btn-outline-primary m-1" (click)="sendForm()">Guardar</button>
  <a [routerLink]="'/profile'">
    <button class="btn btn-outline-primary m-1" >Cancelar</button>
  </a>
</div>

<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>

