<div class="container-fluid p-2">
  <form [formGroup]="modificationForm">

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" style="width:9vw">Nombre</span>
      </div>
      <input class="form-control" [value]="profile.name" aria-label="name" formControlName="name">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2" style="width:9vw">Telefono</span>
      </div>
      <input class="form-control" [value]="profile.phone" aria-label="phone" formControlName="phone">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3" style="width:9vw">Email</span>
      </div>
      <input class="form-control" type="email" [value]="profile.email" aria-label="email" formControlName="email">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon4" style="width:9vw">Contraseña</span>
      </div>
      <input class="form-control" rows="1" [value]="profile.password" aria-label="password" formControlName="password">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon5" style="width:9vw">Imagen</span>
      </div>
      <input class="form-control" [value]="profile.imageSource" aria-label="image url" formControlName="imageurl">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon6" style="width:9vw">Localizacion</span>
      </div>
      <input class="form-control" [value]="profile.location" aria-label="location" formControlName="location">
    </div>

    <app-social-adder [socialNetworks]="profile.socialNetworks" (socialNetworksModified)="changeSocialNetworks($event)"></app-social-adder>

  </form>

  <div class="d-flex flex-row-reverse m-2 mr-1 sticky-bottom">
    <button class="btn btn-outline-primary m-1" (click)="sendForm()">Guardar</button>
    <button class="btn btn-outline-primary m-1" (click)="changeView()">Cancelar</button>
  </div>

  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>

</div>
