<div class="container-fluid p-2">
  <form>
    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" style="width:9vw">Nombre</span>
      </div>
      <input class="form-control" value="{{(profile | async)?.name}}" aria-label="Nombre" formControlName="name">
    </div>

    <div class="input-group mb-3 form-row">
      <span class="input-group-text" id="basic-addon3" style="width:9vw">Telefono</span>
      <input class="form-control" rows="1" value="{{(profile | async)?.phone}}" aria-label="phone" formControlName="phone">
      <div class="input-group-append">
      </div>
    </div>
  </form>
<div class="d-flex flex-row-reverse m-2 mr-1 sticky-bottom">
  <button class="btn btn-outline-primary" (click)="sendForm()">Guardar</button>
  <button class="btn btn-outline-primary" [routerLink]="'/bandProfile'">Cancelar</button>
</div>
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
</div>
