<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos basicos</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Antonio" formControlName="firstCtrl" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="usuario@email.com" formControlName="firstCtrl" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Contrasenya</mat-label>
        <input matInput placeholder="*******" formControlName="firstCtrl" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Imagen</mat-label>
        <input matInput placeholder="En formato jpg y png" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Datos avanzados">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Ubicacion:</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Gran Via, Valencia, 46001"
               required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Descripcion:</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Date a conecer!"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
