<div class="container-fluid d-flex justify-content-center bg-light" >
  <div class="row bg-white" style="width:90vw">
    <div class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
      <img [src]="tutorialPost.imgUrl" alt="Imagen de perfil" style="max-width: 250px">
    </div>
    <br> <br>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h1>{{tutorialPost.title}}</h1>
          <h2>Precio: <b>{{tutorialPost.price}}</b></h2>
        </div>
      </div>
      <button class="d-flex ml-auto btn btn-outline-primary m-2" (click)="applyForTutorial()">Solicitar reserva</button>
    </div>
    <br> <br>
    <div class="card p-1 col-md-2" style="width: 18rem;">
      <div class="card-body">
        <img class="card-img" [src]="tutorialOwner.imageurl" alt="Imagen de perfil" style="max-width: 75px">
        <h5 class="card-title">Profesor/a: <b>{{tutorialOwner.name}}</b></h5>
        <h6 class="card-subtitle mb-2 text-muted">Contacto: <b>{{tutorialOwner.contact}}</b></h6>
        <a [routerLink]="['/profile', tutorialOwner.id]" class="card-link">Perfil del musico</a>
        <!--<a [routerLink]="'profile/FVgBtsJlkRl0qZU4VaiW'" class="card-link">Perfil del musico</a>-->
      </div>
    </div>
    <br> <br>
    <div class="p-2"><h3>{{tutorialPost.body}}</h3></div>
  </div>
</div>
