<div>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [locale]="locale"
      weekStartsOn="1"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (beforeViewRender)="beforeMonthViewRender($event)"
      (dayClicked)="dayClicked($event.day)"
    ></mwl-calendar-month-view>
  </div>
  <div *ngIf="this.loggedId === ownerId" class="d-flex justify-content-center mt-1">
    <button type="button" class="btn btn-outline-primary mr-1" (click)="subirSeleccion()">Subir seleccion</button>
    <button type="button" class="btn btn-outline-primary ml-1" (click)="mostrarSeleccion()">Mostrar seleccion</button>
  </div>
</div>
