<div class="container-fluid p-2">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1" style="width:9vw">Nombre</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2" style="width:9vw">Email</span>
    <input type="text" class="form-control" placeholder="emailusuario@ejemplo.es" aria-label="email" aria-describedby="basic-addon2">
    <div class="input-group-append">
    </div>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3" style="width:9vw">Imagen</span>
    <input type="text" class="form-control" placeholder="/PATH de la imagen" aria-label="emailusuario@ejemplo.es" aria-describedby="basic-addon3">
    <div class="input-group-append">
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4" style="width:9vw">Redes Sociales</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon4">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" style="width:12.5vw">Precio de suscripcion</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <!-- <span class="input-group-text">.00</span> -->
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" style="width:9vw">Descripcion</span>
    </div>
    <textarea class="form-control" rows="8" aria-label="With textarea">{{profile.description}}</textarea>
  </div>
</div>
