<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Tipo de perfil</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Dinos quien eres</mat-label>
        <mat-select [(value)]="selected" formControlName="profileRole">
          <mat-option></mat-option>
          <!-- TODO Segun la opcion poner un texto de descripcion distinto -->
          <mat-option value="fan">Aficionado</mat-option>
          <mat-option value="musician">Musico</mat-option>
          <mat-option value="band">Banda</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Datos basicos">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Antonio" formControlName="name" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="usuario@email.com" formControlName="email" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Contrasenya</mat-label>
        <input matInput placeholder="*******" formControlName="password" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Imagen</mat-label>
        <input matInput placeholder="En formato jpg y png" formControlName="imageurl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Datos avanzados">
    <form [formGroup]="thirdFormGroup">
      <!-- TODO Encontrar coordenadas con una direccion -->
      <mat-form-field>
        <mat-label>Ubicacion:</mat-label>
        <input matInput formControlName="location" placeholder="Ex. 1 Gran Via, Valencia, 46001"
               required>
      </mat-form-field><br>
      <mat-form-field *ngIf="(firstFormGroup.get('profileRole').value=='musician' ||firstFormGroup.get('profileRole').value=='band')">
        <mat-label>Descripcion:</mat-label>
        <input matInput formControlName="description" placeholder="Date a conecer!"
               required>
      </mat-form-field><br>
      <mat-form-field *ngIf="(firstFormGroup.get('profileRole').value=='musician' ||firstFormGroup.get('profileRole').value=='band')">
        <mat-label>Precio suscripcion:</mat-label>
        <input matInput formControlName="precioSuscripcion" placeholder="Date a conecer!"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </form>
  </mat-step>
  <!--
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  -->
</mat-horizontal-stepper>
{{firstFormGroup.get('profileRole').value}}
{{firstFormGroup.value | json}}
{{secondFormGroup.value | json}}
{{thirdFormGroup.value | json}}
