<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="assets/icon/booster.png" width="120" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a [routerLink]="'/home'"><button type="button" class="btn btn-outline-light">Inicio</button></a>
  </div>
</nav>
<div class="card" style="width: 50vw">
  <div class="card-body">
    <h2 class="card-title">Registro:</h2>
    <!--TODO Implementar selector de tipo de perfil -->
    <p class="card-text">
      <app-register-profile></app-register-profile>
    </p>
  </div>
</div>
