<div class="card" style="width: 40rem;">
  <div class="card-body">

    <h2 class="card-title text-center font-weight-bold">{{postToDisplay.title}}</h2>

    <p class="card-text text-justify">{{postToDisplay.body}}</p>

    <img class="card-img-top" src="post-card.component.ts" height="20%" [src]="postToDisplay.imgUrl">
    <br>
    <!-- TODO EN ALGUN SPRINT -->
    <!--<a href="#" class="btn btn-success m-1">Me gusta</a>-->
  </div>
  <div class="card-footer text-muted bg-warning border-danger" *ngIf="postToDisplay.promoted">
    Contenido promocionado
  </div>
</div>


