<div class="card bg-warning border-danger" style="width: 40rem;">
  <div class="card-body">

    <h5 class="card-title text-center font-weight-bold">{{postToDisplay.title}}</h5>

    <p class="card-text text-justify">{{postToDisplay.body}}</p>

    <!--<img class="card-img-bottom" src="post-card.component.ts" height="20%"> {{postToDisplay.imgUrl}} > -->
    <a href="#" class="btn btn-success border-danger" > Me gusta</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


