<div class="container-fluid p-2">
  <form [formGroup]="modificationForm">
    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" style="width:9vw">Nombre</span>
      </div>
      <input class="form-control" [value]="profile.name" aria-label="name" formControlName="name">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2" style="width:9vw">Telefono</span>
      </div>
      <input class="form-control" [value]="profile.phone" aria-label="phone" formControlName="phone">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3" style="width:9vw">Email</span>
      </div>
      <input class="form-control" [value]="profile.email" aria-label="email" formControlName="email">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon4" style="width:9vw">Contraseña</span>
      </div>
      <input class="form-control" [value]="profile.password" aria-label="password" formControlName="password">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon5" style="width:9vw">Imagen</span>
      </div>
      <input class="form-control" [value]="profile.imageSource.valueOf()" aria-label="image url" formControlName="imageurl">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon6" style="width:9vw">Localizacion</span>
      </div>
      <input class="form-control" [value]="profile.location" aria-label="location" formControlName="location">
    </div>

    <app-social-adder [socialNetworks]="profile.socialNetworks" (socialNetworksModified)="changeSocialNetworks($event)"></app-social-adder>

    <app-genre-adder [genre]="profile.genres"></app-genre-adder>

    <!-- <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon7" style="width:9vw">Generos</span>
      </div>
      <input class="form-control" [value]="profile.genres.toString()" aria-label="genres" placeHolder="Formato: Rock, Pop..." formControlName="genres">
    </div> -->

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon8" style="width:9vw">Instrumentos</span>
      </div>
      <input class="form-control" [value]="profile.instruments" aria-label="instruments" formControlName="instruments">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:12.5vw" >Precio de suscripcion</span>
      </div>
      <input class="form-control" [value]="profile.subscriptionPrice" aria-label="subscription price" formControlName="subscriptionPrice" >
      <span class="input-group-text" style="width:2.5vw">€</span>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:9vw">Descripcion</span>
      </div>
      <textarea class="form-control" rows="5" aria-label="description" formControlName="description" [value]="profile.description"></textarea>
    </div>

  </form>
<div class="d-flex flex-row-reverse m-2 mr-1 sticky-bottom">
  <button class="btn btn-outline-primary m-1" (click)="sendForm()">Guardar</button>
  <button class="btn btn-outline-primary m-1" (click)="changeView()">Cancelar</button>
</div>
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
</div>
