<div>
  <div class="input-group mb-3 form-row">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1" style="width:9vw">Email</span>
    </div>
    <input class="form-control" aria-label="Email">
  </div>
  <div class="input-group mb-3 form-row">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2" style="width:9vw">Contraseña</span>
    </div>
    <input class="form-control" aria-label="Contraseña" formControlName="name">
  </div>
  <button class="d-flex align-self-end btn btn-outline-primary m-2">Iniciar sesion</button>
</div>
