<div *ngIf="errorMessage" class="m-0" style="width: 100%;">
  <ngb-alert type="danger" class="m-0" (close)="errorMessage = ''">{{errorMessage}}</ngb-alert>
</div>
<div>
  <form [formGroup]="registrationForm" class="mx-auto">
    <div class="form-group">
      <label>Email:</label>
      <input
        type="text"
        class="form-control"
        placeholder="miemail@mail.com"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label>Contraseña:</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
      />
    </div>
  </form>
  <div class="d-flex justify-content-end">
  <button class="d-flex justify-content-end btn btn-outline-primary m-2" (click)="logIn()">Iniciar sesion</button>
  </div>
</div>
