<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="assets/icon/booster.png" width="120" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a [routerLink]="'/register'"><button type="button" class="btn btn-outline-light">Registro</button></a>
    <a [routerLink]="'/profile'"><button type="button" class="btn btn-outline-light">Perfil</button></a>
    <a [routerLink]="'/bandProfile'"><button type="button" class="btn btn-outline-light">Perfil Banda</button></a>
    <a [routerLink]="'/fanProfile'"><button type="button" class="btn btn-outline-light">Perfil Aficionado</button></a>
  </div>
  <div>
    <img src="assets/fan/avatar-man.jpg" alt="" class="img-fluid rounded-circle z-depth-0 align-center my-2 my-sm-0" style="max-width: 50px">
  </div>
</nav>
