<div class="container-fluid d-flex justify-content-center bg-light" style="height: 50vh">
  <div class="flex-column">
    <div class="row bg-white d-flex justify-content-center align-items-center" style="width:90vw">
      <img src="assets/icon/boosterbg.png" style="width: 45vw; height: 27vw; margin-bottom: 25px">
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="flex-column">
        <div class="h1">Últimas novedades en...</div>
        <button type="button" class="btn btn-link" (click)="DropdownVar=0" (click)="showFunction(1)">Usuarios</button>
        <button type="button" class="btn btn-link" (click)="DropdownVar=1" (click)="showFunction(2)">Clases particulares</button>
        <button type="button" class="btn btn-link" (click)="DropdownVar=2" (click)="showFunction(3)">Ofertas de trabajo</button>
      </div>
    </div>
    <div div *ngIf="show1">
      <div *ngIf="DropdownVar == 0" class="dropdown-content" >
        <div id="container1" class="container-fluid d-flex justify-content-center">
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{usersProfile[0].imageSource}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{usersProfile[0].name}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{usersProfile[1].imageSource}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{usersProfile[1].name}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{usersProfile[2].imageSource}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{usersProfile[2].name}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{usersProfile[3].imageSource}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{usersProfile[3].name}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{usersProfile[4].imageSource}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{usersProfile[4].name}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div div *ngIf="show2">
      <div id="container2" class="container-fluid d-flex justify-content-center">
        <figure class="item">
          <img class="img2" routerLink="" class="image" src={{clase[0].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
          <figcaption class="caption">{{clase[0].title}}</figcaption>
        </figure>
        <figure class="item">
          <img class="img2" routerLink="" class="image" src={{clase[1].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
          <figcaption class="caption">{{clase[1].title}}</figcaption>
        </figure>
        <figure class="item">
          <img class="img2" routerLink="" class="image" src={{clase[2].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
          <figcaption class="caption">{{clase[2].title}}</figcaption>
        </figure>
        <figure class="item">
          <img class="img2" routerLink="" class="image" src={{clase[3].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
          <figcaption class="caption">{{clase[3].title}}</figcaption>
        </figure>
        <figure class="item">
          <img class="img2" routerLink="" class="image" src={{clase[4].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
          <figcaption class="caption">{{clase[4].title}}</figcaption>
        </figure>
      </div>
    </div>
    <div div *ngIf="show3">
      <div *ngIf="DropdownVar == 2" class="dropdown-content" >
        <div id="container3" class="container-fluid d-flex justify-content-center">
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{oferta[0].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{oferta[0].title}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{oferta[1].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{oferta[1].title}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{oferta[2].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{oferta[2].title}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{oferta[3].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{oferta[3].title}}</figcaption>
          </figure>
          <figure class="item">
            <img class="img2" routerLink="" class="image" src={{oferta[4].imgUrl}} style="width: 10vw; height: 10vw; margin: 10px"/>
            <figcaption class="caption">{{oferta[4].title}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 13vw;
    height: 13vw;
    margin: 10px;
  }
  img2 {
    width: 20px;
    height: 10px;
    background-color: grey;
  }
  .caption {
    display: block;
  }
</style>
